{% extends 'base.html.twig' %}

{% block body %}
    <h1>Server error</h1>
    <p>
        Server error. Please try again or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}